h1{
color:blue;
font-size: medium;
font-style: italic;
text-align: center;
}
tr{
    color:blue;
font-size: medium;
font-style: italic;
text-align: center;
}
h2{
    color:blue;
font-size: medium;
font-style: italic;
text-align: center;
}
h3{
    color:blue;
font-size: medium;
font-style: italic;
text-align: center;
}