h2{
    color:red;
    font-style: italic;
    text-align-last: center;
}  
head{
    color:blue;
    font-style: italic;
    text-align-last: center;
}
p{

    color:blue;
    font-style: italic;
    text-align-last: center;
}

div{
   color:blue;
    font-style: italic;
    text-align-last: center;
}
li{
    color:blue;
    font-style: italic;
    text-align-last: center;
}
h1{
    color:blue;
    font-style: italic;
    text-align-last: center;
}
.box1{
    background:purple;
    text-align: left;
    width:200px;
    height: 200px;
    margin-top: 50px;
    margin-left:100px ;
    margin-bottom:20px ;
    margin-right: 15px;
    border: black dotted;
    border-color: red;
    

}
.box2{  background:purple;
    text-align: left;
    width:200px;
    height: 200px;
    margin-top: 50px;
    margin-left:100px ;
    margin-bottom:20px ;
    margin-right: 15px;
    border: black dotted;
    border-color: red

}
.ncell-purple{
    margin: 150px;
    width: 200px;
    height: 100px;
    background-color: purple;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}